/* Stylesheet: */
body {
    font-family: 'Palatino', serif;
    font-size: large;
    margin: 0;
    background: white;
    height: auto;
}

h1 {
    font-family: 'Gill Sans';
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: capitalize;
    margin: 0;
}

h2 {
    font-family: 'Gill Sans';
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
}

ul {
    list-style-type: disc;
}

li {
    margin-top: 10px;
}

li:first-child {
    margin-top: 0;
}

main {
    max-width: 800px;
    margin: auto;
}

.float-container {
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.float-image {
    width: 75%;
    max-width: 200px;
    float: auto;

}

.float-text {
    width: 25%;
    float: right;
}

#landing {
    font-family: 'Gill Sans';
    background-color: white;
}

#landing-text {
    width: 100%;
    margin: auto;
}

#landing-text a {
    color: rgb(17, 16, 16);
    text-decoration: none;
}

#landing-text h2 {
    color: rgb(17, 16, 16);
    text-decoration: none;
    text-transform: none;
}

#landing-text-symbols {
    margin-top: 0.6rem;
    display: flex;
    gap: 1rem;
}

#landing-text-symbols a {
    color: #555;
    text-decoration: none;
    transition: color 300ms ease-in-out;
}

#landing-text-symbols a:hover {
    color: #111;
}

#landing-image img {
    width: 100%;
    border-radius: 50%;
    margin: auto;
}

#about-me {
    padding: 1rem;
    padding-top: 2rem;
    text-align: left;
    background-color: white;
}

#publications {
    padding: 1rem;
    text-align: left;
    background-color: white;
}

#news {
    padding: 1rem;
    text-align: left;
    background-color: white;
}

#news li {
    position: relative;
    margin: 0;
    padding-bottom: 1em;
    padding-left: 20px;
}

#news li:before {
    content: '';
    background-color: #c00;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 6px;
    width: 3px;
}

#news li:after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='https://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 32 32' focusable='false'%3E%3Ccircle stroke='none' fill='%23c00' cx='16' cy='16' r='10'%3E%3C/circle%3E%3C/svg%3E");
    position: absolute;
    left: 0;
    height: 15px;
    width: 15px;
}

footer {
    text-align: center;
    margin-bottom: 0;
}

#footer-symbols {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin-bottom: 0.5rem;
}

#footer-symbols a {
    color: #555;
    text-decoration: none;
    transition: color 300ms ease-in-out;
}

#footer-symbols a:hover {
    color: #111;
}